/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.form-div{
    margin: 50px auto 5px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #80ced7;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: 'lora','serif';
    
    
}
.form-control:focus{
    box-shadow: none;
}

form p{
    font-size:  0.89em; ;
}

.form-div.login{
margin-top: 100px;
}
.logout{
    color: red;
    text-decoration: none;
}